.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.flatTable {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.titleTr {
  height:50px;  
  color:#f6f3f7; 
  background:#6b6b6b;  
  border:0px solid;
}

.flatTable .bodyTr{
  height:50px;
  background:#f6f3f7;
  border-bottom:rgba(0,0,0,.05) 1px solid;
}

.flatTable td{    
  box-sizing:border-box;
  padding-left:30px;
}
